.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 2px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 1px;
  width: 100px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.page-count{
  Display: flex;
  justify-content: center;
}